@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");

.table {
  margin: auto;
  margin-top: 10px;
  width: 75%;
  text-align: center;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.6px;
}

.alignset {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.6px;
  color: rgb(255, 255, 255);
}

.divcolor {
  background-color: black;
}
.alignp {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.6px;
  text-align: center;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding-bottom: 12px;
}
.alignp_bottom {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.6px;
  text-align: center;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  color: black;
  padding-bottom: 12px;
}
.alignp_bottom a {
  color: blue;
}
.alignp_bottom a:hover {
  color: rgb(0, 0, 170);
}
a {
  color: rgb(160, 255, 207);
}
a:hover {
  color: rgb(110, 250, 255);
}
.changeColor a {
  color: blue;
}
.changeColor a:hover {
  color: rgb(0, 0, 170);
}

/*

  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 4;
  flex-flow: column wrap;
  overflow-wrap: break-word;
  max-width: 80%;
  word-wrap: break-word;
  hyphens: auto;
  margin: 20px 50%;
  margin-right: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
 position: relative;
 
 */

/* .class_robo {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.6px;
} */
/* 
.class_osw {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.6px;
} */
/* 
.class_nun {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.6px;
}

.head {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.6px;
}

.para {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.6px;
  padding-bottom: 10px;
}

.htag {
  font-family: "Nunito", sans-serif;
  font-size: 23px;
  letter-spacing: 0.6px;
} */

/* .custweight .rdt_TableHeader {
  font-size: 300px;
} */
