.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal_rule {
  width: 30%;
  display: block;
  height: 5px;
  background-color: #380066;
  margin: 30px auto 30px auto;
  border-radius: 50px;
}
.horizontal_rule_end {
  width: 100%;
  display: block;
  height: 6px;
  background-color: #380066;
  margin: 30px auto 30px auto;
  border-radius: 60%;
}

.thick_horizontal_rule {
  width: 80%;
  display: block;
  height: 5px;
  background-color: #380066;
  margin: 30px auto 30px auto;
  border-radius: 60%;
}

.loadclass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.htag {
  font-size: 23px;
  letter-spacing: 1px;
}
